Repository IgniteUI/igniteui-docfx, pull requests merged in 2020-03, with the labels that each got.

#1808 Seo ranking article master
  en/components/general/angular-grid-overview-guide.md
  en/images/general/ThemeingWidget1.gif
  en/images/general/scrolling.gif
Labels: status: verified

#1811 fix(sample): Fix stackblitz button for hierarchical grid
  en/components/hierarchicalgrid/hierarchical_grid.md
  jp/components/hierarchicalgrid/hierarchical_grid.md
  kr/components/hierarchicalgrid/hierarchical_grid.md
Labels: category-StackBlitz, hierarchical-grid, status: verified, version: 9.1.x

#1810 fix(sample): Fix stackblitz button for hierarchical grid
  en/components/hierarchicalgrid/hierarchical_grid.md
  jp/components/hierarchicalgrid/hierarchical_grid.md
  kr/components/hierarchicalgrid/hierarchical_grid.md
Labels: category-StackBlitz, hierarchical-grid, status: verified, version: 9.0.x

#1816 Update toc
  en/components/toc.yml
Labels: status: verified

#1782 docs(themeing): Move all themes in separate files
  en/components/themes/global-theme.md
  en/components/themes/themes-list/bootstrap.md
  en/components/themes/themes-list/fluent.md
  en/components/themes/themes-list/material.md
  en/components/toc.yml
Labels: status: localized, status: verified, theming, version: 9.0.x

#1815 Add rtl support section
  en/components/general/framework-and-features/framework-and-features.md
  en/components/toc.yml
  jp/components/general/framework-and-features/framework-and-features.md
  jp/components/toc.yml
Labels: status: verified

#1813 Adding localization for latest theme changes.
  jp/components/themes/global-theme.md
  jp/components/themes/themes-list/bootstrap.md
  jp/components/themes/themes-list/fluent.md
  jp/components/themes/themes-list/material.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#1826 docs(layout manager): update docs for layout manager
  en/components/layout.md
Labels: layout manager, status: pending-localization, status: verified, version: 9.1.x

#1831 Refactor avatar documentation
  en/components/avatar.md
Labels: avatar, status: pending-localization, version: 9.1.x

#1830 Edited documentation of the carousel component
  en/components/carousel.md
Labels: carousel, status: pending-localization, status: verified, version: 9.1.x

#1828 docs(themeing): Move all themes in separate files
  en/components/themes/global-theme.md
  en/components/themes/themes-list/bootstrap.md
  en/components/themes/themes-list/fluent.md
  en/components/themes/themes-list/material.md
  en/components/toc.yml
Labels: status: pending-localization, status: verified, theming, version: 9.1.x

#1827 docs(themes): update docs for legacy support set to false.
  en/components/themes/component-themes.md
  en/components/themes/global-theme.md
Labels: status: pending-localization, status: verified, theme, version: 9.1.x

#1824 docs(card): update docs for card.
  en/components/card.md
Labels: card, status: pending-localization, status: verified, version: 9.1.x

#1825 docs(tabbar): update docs for bottom navigation(tabbar)
  en/components/tabbar.md
Labels: bottomNav, status: pending-localization, status: verified, version: 9.1.x

#1817 refactor(tabs): update docs
  en/components/tabs.md
Labels: status: pending-localization, status: verified, tabs, version: 9.1.x

#1806 Refactor expansion panel topic
  en/components/expansion_panel.md
Labels: expansion-panel, status: pending-localization, status: verified, version: 9.1.x

#1793 add range date picker section vNext
  en/components/date_picker.md
Labels: range-date-picker, status: verified, version: 9.1.x

#1833 Update to docfx-template 2.6.0
  package-lock.json
  package.json
Labels: status: verified

#1835 Update docfx template
  package-lock.json
  package.json
Labels: status: verified

#1834 docs(snackbar) update docs for snackbar
  en/components/snackbar.md
Labels: snackbar, status: pending-localization, status: verified, version: 9.1.x

#1836 docs(toast component): refactor toast component documentation
  en/components/toast.md
Labels: status: pending-localization, status: verified, toast, version: 9.1.x

#1838 docs(navbar): navbar documentation refactoring
  en/components/navbar.md
Labels: navbar, status: verified, version: 9.1.x

#1792 mkirkova/rangeDatePickerSample
  en/components/date_picker.md
Labels: range-date-picker, status: verified, version: 9.0.x

#1839 docs(navdrawer): update documentation for navdrawer
  en/components/navdrawer.md
Labels: navdrawer, status: pending-localization, status: verified, version: 9.1.x

#1837 Updating localization for Themes - master. TOC fixes.
  jp/components/general/getting_started.md
  jp/components/themes/global-theme.md
  jp/components/themes/themes-list/bootstrap.md
  jp/components/themes/themes-list/fluent.md
  jp/components/themes/themes-list/material.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#1844 docs(theming): Remove the examples topic
  en/components/themes/examples.md
  en/components/toc.yml
Labels: status: pending-localization, theming, version: 9.1.x

#1799 docs(Grids): Adding pinning position section to all grid pinning topics.
  en/components/grids_templates/column_pinning.md
  jp/components/grids_templates/column_pinning.md
  kr/components/grids_templates/column_pinning.md
Labels: status: localized, status: verified

#1853 JP localization for latest EN document updades.
  jp/components/avatar.md
  jp/components/card.md
  jp/components/carousel.md
  jp/components/expansion_panel.md
  jp/components/layout.md
  jp/components/snackbar.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/themes/component-themes.md
  jp/components/themes/examples.md
  jp/components/themes/global-theme.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#1840 docs(banner): update banner documentation
  en/components/banner.md
Labels: banner, status: pending-localization, status: verified, version: 9.1.x

#1845 docs(dialog): update dialog documentation
  en/components/dialog.md
Labels: dialog, version: 9.1.x

#1846 docs(toggle): edit toggle component documentation
  en/components/toggle.md
Labels: status: verified, toggle, version: 9.1.x

#1849 docs(ripple): improve ripple documentation
  en/components/ripple.md
Labels: ripple, status: verified, version: 9.1.x

#1851 fix misspelling igc-core to igx-core
  en/components/themes/themes-list/bootstrap.md
  en/components/themes/themes-list/fluent.md
  en/components/themes/themes-list/material.md
  jp/components/themes/themes-list/bootstrap.md
  jp/components/themes/themes-list/fluent.md
  jp/components/themes/themes-list/material.md
Labels: status: verified, version: 9.0.x

#1855 fix misspelling igc-core to igx-core
  en/components/themes/themes-list/bootstrap.md
  en/components/themes/themes-list/fluent.md
  en/components/themes/themes-list/material.md
  jp/components/themes/themes-list/bootstrap.md
  jp/components/themes/themes-list/fluent.md
  jp/components/themes/themes-list/material.md
Labels: status: awaiting-test, version: 9.1.x

#1848 docs(tooltip): update tooltip documentation
  en/components/tooltip.md
Labels: status: pending-localization, status: verified, tooltip, version: 9.1.x
