Repository IgniteUI/igniteui-docfx, pull requests merged in 2020-07, with the labels that each got.

#2038 Update onCellEdit/onRowEdit description
  en/components/grids_templates/editing.md
  jp/components/grids_templates/editing.md
Labels: grid, severity: medium, status: pending-localization, status: verified, version: 9.0.x, version: 9.1.x, version: 9.2.x

#2045 Add information regarding resizing columns in percentages and remove obsolete one.
  en/components/grids_templates/column_resizing.md
  kr/components/grids_templates/column_resizing.md
Labels: status: pending-localization

#2054 Add combo default auto strategy note
  en/components/combo_features.md
Labels: category-enhancement, combo, status: verified, version: 10.1.x

#2062 fix: add spanish resource in the documentation #2042
  en/components/localization.md
Labels: status: pending-localization, version: 10.1.x

#2063 fix: add spanish resource in the documentation #2042
  en/components/localization.md
Labels: status: pending-localization, version: 10.0.x

#2052 [JP] Updating Select topic. Minor fixes to Dialog topic.
  jp/components/dialog.md
  jp/components/select.md
Labels: status: localized, status: verified

#2067 adding JP changes from #2045
  jp/components/grids_templates/column_resizing.md
Labels: status: localized, status: verified

#2059 [JP] Updating Editing topic.
  jp/components/grids_templates/editing.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2060 [JP] Updating Editing topic. Exposing Breaking Changes topic for JP. - master
  jp/components/grids_templates/editing.md
  jp/components/select.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2056 IgxSnackbar and IgxToast topic update
  en/components/snackbar.md
  en/components/toast.md
Labels: snackbar, status: verified, toast

#2057 IgxSnackbar and IgxToast topic update - master
  en/components/snackbar.md
  en/components/toast.md
Labels: snackbar, status: verified, toast

#2050 Update state persistence topic vNext
  en/components/grids_templates/state_persistence.md
  en/components/toc.yml
  jp/components/grids_templates/state_persistence.md
  jp/components/toc.yml
Labels: state-persistence, status: pending-localization, status: verified

#2075 docs(indigo-theme): add topic for indigo theme
  en/components/themes/global-theme.md
  en/components/themes/themes-list/bootstrap.md
  en/components/themes/themes-list/fluent.md
  en/components/themes/themes-list/indigo.md
  en/components/toc.yml
Labels: status: pending-localization, theme

#2076 Change data-demos-base-url on TreeGrid Finjs sample (vnext)
  en/components/grids_templates/live_data.md
  jp/components/grids_templates/live_data.md
Labels: status: awaiting-test

#2077 Change data-demos-base-url on treegridfinjs (master)
  en/components/grids_templates/live_data.md
  jp/components/grids_templates/live_data.md
Labels: status: awaiting-test

#2074 Extend summary topic to describe `showSummaryOnCollapse` property
  en/components/grids_templates/summaries.md
  jp/components/grids_templates/summaries.md
Labels: grid, status: verified, tree grid

#2083 [JP] Updating topics with the latest changes - vNext
  jp/components/combo_features.md
  jp/components/general/accessibility-compliance.md
  jp/components/grid/grid.md
  jp/components/grids_templates/state_persistence.md
  jp/components/grids_templates/summaries.md
  jp/components/localization.md
  jp/components/snackbar.md
  jp/components/themes/global-theme.md
  jp/components/themes/themes-list/bootstrap.md
  jp/components/themes/themes-list/fluent.md
  jp/components/themes/themes-list/indigo.md
  jp/components/toast.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2084 Adding a few words about the disabled time parts functionality in the time picker.
  en/components/time_picker.md
Labels: status: verified, time-picker, version: 10.1.x

#2086 docs(navbar): Navbar custom title #2082
  en/components/navbar.md
Labels: navbar, status: verified

#2080 Update calendar topic
  en/components/calendar.md
  jp/components/calendar.md
  kr/components/calendar.md
Labels: calendar, category-enhancement, status: pending-localization

#2089 [JP] Updating topics to match EN changes - Snackbar, Toast, Localization - master
  jp/components/grid/grid.md
  jp/components/localization.md
  jp/components/snackbar.md
  jp/components/toast.md
Labels: status: localized

#2085 Overlay - closeOnEsc docs
  en/components/overlay_main.md
  en/components/toggle.md
  jp/components/overlay_main.md
  kr/components/overlay_main.md
Labels: overlay, status: in-test, status: pending-localization, version: 10.1.x

#2087 Calendar update topic with new events
  en/components/calendar.md
  jp/components/calendar.md
  kr/components/calendar.md
Labels: status: verified, version: 10.0.x

#2095 docs(navbar): Removing text from title #2082
  en/components/navbar.md
Labels: navbar, status: pending-localization, status: verified

#2094 docs(exporter): add note for JSZip performance issue workaround
  en/components/exporter_excel.md
  en/components/grids_templates/export_excel.md
Labels: excel-exporter, status: verified, version: 10.0.x

#2093 docs(exporter): add note for JSZip performance issue workaround
  en/components/exporter_excel.md
  en/components/grids_templates/export_excel.md
Labels: excel-exporter, status: verified, version: 10.1.x

#2102 Adding information about the IgxHierarchicalTransactionService commit…
  en/components/transaction-how-to-use.md
Labels: status: verified, transaction, version: 10.1.x

#2100 Uppdate combo filtering section with case-sensitive option
  en/components/combo_features.md
Labels: combo, do not merge, status: pending-localization, status: verified, version: 10.1.x

#2114 docs(menu): fix spelling error in menu
  en/components/toc.yml
  kr/components/toc.yml
Labels: status: verified

#2115 docs(menu): fix spelling error in menu
  en/components/toc.yml
  kr/components/toc.yml
Labels: status: verified

#2119 docs(typography): remove depricated property
  en/components/themes/typography.md
Labels: status: pending-localization

#2107 Add localization paging section
  en/components/grids_templates/paging.md
  en/components/grids_templates/remote_data_operations.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/remote_data_operations.md
Labels: status: pending-localization, status: verified

#2120 docs(typography): remove depricated property
  en/components/themes/typography.md
Labels: status: pending-localization
