Repository IgniteUI/igniteui-docfx, pull requests merged in 2020-05, with the labels that each got.

#1916 docs(label&input): improve label & input documentation
  en/components/label_input.md
Labels: input, status: pending-localization, status: verified, version: 9.1.x

#1912 Keyboard navigation topic update
  en/components/grids_templates/keyboard_navigation.md
  jp/components/grids_templates/keyboard_navigation.md
Labels: grid, keyboard-navigation, status: verified, version: 9.1.x

#1921 feat(rtl): add section regarding theming engine
  en/components/general/framework-and-features/framework-and-features.md
  jp/components/general/framework-and-features/framework-and-features.md
Labels: status: verified, theme, theming, version: 9.1.x

#1918 Improve SEO of WPF to Angular guide
  en/components/general/wpf_to_angular_guide/angular_events.md
  en/components/general/wpf_to_angular_guide/angular_pipes.md
  en/components/general/wpf_to_angular_guide/create_first_angular_app.md
  en/components/general/wpf_to_angular_guide/create_ui_with_components.md
  en/components/general/wpf_to_angular_guide/layout.md
  en/components/general/wpf_to_angular_guide/one_way_binding.md
  en/components/general/wpf_to_angular_guide/structural_directives.md
  en/components/general/wpf_to_angular_guide/two_way_binding.md
  en/components/general/wpf_to_angular_guide/wpf_to_angular_guide.md
Labels: status: verified, version: 9.1.x

#1917 Improve SEO of WPF to Angular guide
  en/components/general/wpf_to_angular_guide/angular_events.md
  en/components/general/wpf_to_angular_guide/angular_pipes.md
  en/components/general/wpf_to_angular_guide/create_first_angular_app.md
  en/components/general/wpf_to_angular_guide/create_ui_with_components.md
  en/components/general/wpf_to_angular_guide/layout.md
  en/components/general/wpf_to_angular_guide/one_way_binding.md
  en/components/general/wpf_to_angular_guide/structural_directives.md
  en/components/general/wpf_to_angular_guide/two_way_binding.md
  en/components/general/wpf_to_angular_guide/wpf_to_angular_guide.md
Labels: status: verified, version: 9.0.x

#1925 docs(linear progress): update linear progress and add more sections
  en/components/linear_progress.md
Labels: linear-progress, status: pending-localization, status: verified, version: 9.1.x

#1919 docs(circular progress bar): update circular progress documentation
  en/components/circular_progress.md
Labels: circular-progress, status: pending-localization, version: 9.1.x

#1928 docs(input-group): improve input group & reactive forms documentation
  en/components/input_group.md
  en/components/input_group_reactive_forms.md
Labels: input-group, status: pending-localization, status: verified, version: 9.1.x

#1933 Add auto focus search input section
  en/components/combo_features.md
Labels: combo, version: 9.1.x

#1937 docs(icon): refactor icon documentation
  en/components/icon.md
Labels: icon, status: pending-localization, status: verified, version: 9.1.x

#1934 Add description about pageChange and perPageChange events
  en/components/grids_templates/paging.md
  en/components/grids_templates/remote_data_operations.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/remote_data_operations.md
Labels: grid, status: pending-localization, status: verified

#1929 docs(dock-manager): Add topic for Dock Manager
  en/components/dock-manager.md
  en/components/toc.yml
Labels: category-topic, status: verified

#1951 fix(dock-manager-topic): change demo url
  en/components/dock-manager.md
Labels: status: verified

#1927 feat(kbnav): extend the topic with the rest grids
  en/components/grids_templates/keyboard_navigation.md
  jp/components/grids_templates/keyboard_navigation.md
Labels: grid, hierarchical-grid, keyboard-navigation, status: pending-localization, status: verified, tree grid

#1943 Updating JP localization to match the latest EN topic changes.
  jp/components/badge.md
  jp/components/button.md
  jp/components/buttonGroup.md
  jp/components/checkbox.md
  jp/components/date_picker.md
  jp/components/date_time_editor.md
  jp/components/general/angular-grid-overview-guide.md
  jp/components/grids_templates/column_pinning.md
  jp/components/grids_templates/column_resizing.md
  jp/components/grids_templates/column_selection.md
  jp/components/grids_templates/keyboard_navigation.md
  jp/components/grids_templates/virtualization.md
  jp/components/label_input.md
  jp/components/radio_button.md
  jp/components/splitter.md
  jp/components/switch.md
  jp/components/tabbar.md
  jp/components/time_picker.md
  jp/components/toc.yml
  jp/images/general/ThemeingWidget1.gif
  jp/images/general/scrolling.gif
Labels: status: localized, status: verified

#1915 docs(action-strip): Add topic for Action Strip
  en/components/action-strip.md
  en/components/toc.yml
  jp/components/action-strip.md
  jp/components/toc.yml
  kr/components/action-strip.md
  kr/components/toc.yml
Labels: action-strip, status: pending-localization, status: resolved, version: 9.1.x

#1872 Grid(docs): Add row pinning topic.
  en/components/grids_templates/row_pinning.md
  en/components/toc.yml
  jp/components/grids_templates/row_pinning.md
  jp/components/toc.yml
  kr/components/grids_templates/row_pinning.md
  kr/components/toc.yml
Labels: pinning, status: pending-localization, status: resolved

#1954 Update import in code snippet
  en/components/dock-manager.md
Labels: status: verified

#1931 Adding text selection and focus section to the input and label topic
  en/components/date_time_editor.md
  en/components/label_input.md
  en/components/mask.md
  jp/components/label_input.md
  jp/components/mask.md
Labels: status: pending-localization, status: verified

#1911 feat(igx-date-range-picker): add topic #1646
  en/components/date_range_picker.md
  en/components/date_time_editor.md
  en/components/toc.yml
Labels: range-date-picker, status: awaiting-test, version: 9.1.x

#1959 Final changes
  en/components/general/framework-and-features/data-analysis.md
  en/components/toc.yml
  jp/components/general/framework-and-features/data-analysis.md
Labels: status: verified

#1960 fix(igx-date-range-picker): fix snippet
  en/components/date_range_picker.md
Labels: range-date-picker, version: 9.1.x

#1942 feat(kbnav): document focusable elems in tbody
  en/components/grids_templates/keyboard_navigation.md
  jp/components/grids_templates/keyboard_navigation.md
Labels: keyboard-navigation, status: pending-localization, status: verified

#1969 Fix wording, snippets and links
  en/components/date_range_picker.md
  en/components/date_time_editor.md
  jp/components/date_time_editor.md
Labels: date-editor, range-date-picker, version: 9.0.x

#1945 docs(chip): update and reorder chip documentation
  en/components/chip.md
Labels: chip, status: pending-localization, status: verified, version: 9.1.x

#1970 Update template links on cli templates page #1961
  en/components/general/cli/component-templates.md
Labels: category-cli, category-topic, status: verified, version: 9.1.x

#1968 docs(dockmanager): add link to data analysis sample
  en/components/dock-manager.md
Labels: dock-manager, status: verified

#1967 Add Dock Manager info and cli upgrade in licensing topic
  en/components/general/ignite-ui-licensing.md
Labels: status: verified

#1972 Update styling link
  en/components/badge.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/circular_progress.md
  en/components/dialog.md
  en/components/input_group.md
  en/components/linear_progress.md
  en/components/month_picker.md
  en/components/navbar.md
  en/components/navdrawer.md
  en/components/overlay_styling.md
  en/components/snackbar.md
  en/components/switch.md
  en/components/time_picker.md
  en/components/tooltip.md
Labels: category-topic, status: verified, version: 9.1.x

#1973 docs(date-range-picker): update topic
  en/components/date_range_picker.md
Labels: range-date-picker, status: awaiting-test, version: 9.1.x

#1966 Remote paging with batch editing
  en/components/general/ignite-ui-licensing.md
  en/components/grids_templates/remote_data_operations.md
  en/components/grids_templates/selection.md
Labels: grid, paging, status: verified

#1976 Updating JP localization.
  jp/components/action-strip.md
  jp/components/avatar.md
  jp/components/banner.md
  jp/components/button.md
  jp/components/buttonGroup.md
  jp/components/calendar.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/circular_progress.md
  jp/components/combo_features.md
  jp/components/date_picker.md
  jp/components/date_time_editor.md
  jp/components/dialog.md
  jp/components/dock-manager.md
  jp/components/grids_templates/advanced_filtering.md
  jp/components/grids_templates/column_hiding.md
  jp/components/grids_templates/column_moving.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/keyboard_navigation.md
  jp/components/grids_templates/multi_column_headers.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/remote_data_operations.md
  jp/components/grids_templates/row_pinning.md
  jp/components/grids_templates/sorting.md
  jp/components/grids_templates/summaries.md
  jp/components/icon.md
  jp/components/input_group.md
  jp/components/input_group_reactive_forms.md
  jp/components/label_input.md
  jp/components/linear_progress.md
  jp/components/mask.md
  jp/components/month_picker.md
  jp/components/navbar.md
  jp/components/navdrawer.md
  jp/components/radio_button.md
  jp/components/splitter.md
  jp/components/switch.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/texthighlight.md
  jp/components/time_picker.md
  jp/components/toast.md
  jp/components/toc.yml
  jp/components/tooltip.md
Labels: status: localized, status: verified
