Repository IgniteUI/igniteui-docfx, pull requests merged in 2020-04, with the labels that each got.

#1854 Refactor slider topic
  en/components/slider/slider.md
  en/components/slider/slider_ticks.md
  en/components/toc.yml
Labels: slider, status: awaiting-test, version: 9.1.x

#1864 Responsify Images (vNext)
  en/components/general/angular-grid-overview-guide.md
Labels: status: verified

#1865 Responsify Images (master) #1863
  en/components/general/angular-grid-overview-guide.md
Labels: status: verified

#1758 add breaking changes (DV) to TOC
  en/components/general/breaking_changes_dv.md
  en/components/toc.yml
Labels: dv-charts, status: in-review

#1867 Localization for latest topic updates.
  jp/components/avatar.md
  jp/components/banner.md
  jp/components/grid/grid.md
  jp/components/grids_templates/row_editing.md
  jp/components/hierarchicalgrid/hierarchical_grid.md
  jp/components/navbar.md
  jp/components/navdrawer.md
  jp/components/toast.md
  jp/components/tooltip.md
  jp/components/treegrid/tree_grid.md
Labels: status: localized, status: verified

#1868 Fixing JP title for "Row Editing". "Getting Started" link fix accross grid topics.
  jp/components/grid/grid.md
  jp/components/grids_templates/row_editing.md
  jp/components/hierarchicalgrid/hierarchical_grid.md
  jp/components/treegrid/tree_grid.md
Labels: status: localized, status: verified

#1843 column selection topic
  en/components/grids_templates/column_selection.md
  en/components/grids_templates/excel_style_filtering.md
  en/components/grids_templates/selection.md
  en/components/toc.yml
  gulpfile.js
  jp/components/grids_templates/column_selection.md
  jp/components/grids_templates/excel_style_filtering.md
  jp/components/grids_templates/selection.md
  jp/components/toc.yml
  web.config
Labels: grid-selection, status: in-test

#1870 docs(month picker): update month picker docs and add styling section
  en/components/month_picker.md
Labels: month picker, version: 9.1.x

#1873 docs(calendar): improve calendar documentation
  en/components/calendar.md
Labels: calendar, status: pending-localization, status: verified, version: 9.1.x

#1858 docs(overlay): update overlay documentation
  en/components/overlay_main.md
  en/components/overlay_position.md
  en/components/overlay_scroll.md
  en/components/overlay_styling.md
Labels: overlay, version: 9.1.x

#1877 chore: add PR template
  PULL_REQUEST_TEMPLATE.md
Labels: version: 9.1.x

#1881 chore: add SEO link
  PULL_REQUEST_TEMPLATE.md
Labels: version: 9.0.x

#1882 chore: move PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: version: 9.0.x

#1879 Updating column selection topic with latest changes
  en/components/grids_templates/column_selection.md
  jp/components/grids_templates/column_selection.md
Labels: status: pending-localization, status: verified

#1888 Update docfx template to 2.6.1
  en/components/toc.yml
  jp/components/toc.yml
  package-lock.json
  package.json
Labels: status: verified

#1885 docs(date-picker): refactor date-picker documentation
  en/components/date_picker.md
Labels: date-picker, status: pending-localization, status: verified, version: 9.1.x

#1887 docs(time picker): update time picker documentation
  en/components/time_picker.md
Labels: status: pending-localization, status: verified, time-picker, version: 9.1.x

#1892 Enabling cache clear (vnext)
  en/docfx.json
  jp/docfx.json
  kr/docfx.json
Labels: status: verified

#1891 Enabling cache clear (master)
  en/docfx.json
  jp/docfx.json
  kr/docfx.json
Labels: status: verified

#1895 docs(button-group): edit button group documentation
  en/components/buttonGroup.md
Labels: button group, status: pending-localization, status: verified, version: 9.1.x

#1893 docs(button): edit button documentation
  en/components/button.md
Labels: button, status: pending-localization, status: verified, version: 9.1.x

#1852 Add initial date time editor topic
  en/components/date_time_editor.md
  en/components/toc.yml
Labels: date-editor, status: pending-localization, status: verified, version: 9.1.x

#1890 Fixes height of the state persistance sample - 9.0
  en/components/grids_templates/state_persistence.md
  jp/components/grids_templates/state_persistence.md
  kr/components/grids_templates/state_persistence.md
Labels: category-enhancement, grid, status: verified, version: 9.0.x

#1889 Fixes height of the state persistance sample - vNext
  en/components/grids_templates/state_persistence.md
  jp/components/grids_templates/state_persistence.md
  kr/components/grids_templates/state_persistence.md
Labels: category-enhancement, grid, status: verified, version: 9.1.x

#1900 Editorial updates
  en/components/date_time_editor.md
Labels: category-enhancement, category-topic, date-editor, status: pending-localization, version: 9.1.x

#1901 Update docfx-template version to 2.6.2
  package-lock.json
  package.json
Labels: status: verified

#1902 [master] Update docfx-template version to 2.6.2
  package-lock.json
  package.json
Labels: status: verified

#1899 Updating localization for master. Fixing issues reported by Marketing.
  jp/components/date_picker.md
  jp/components/general/framework-and-features/framework-and-features.md
  jp/components/grids_templates/virtualization.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#1894 docs(checkbox): update checkbox documentation
  en/components/checkbox.md
Labels: checkbox, status: pending-localization, status: verified, version: 9.1.x

#1906 Making minor improvements to the topic
  en/components/grids_templates/row_pinning.md
Labels: category-enhancement, grid, hierarchical-grid, pinning, tree grid

#1876 Splitter(Docs): Add splitter topic
  en/components/splitter.md
  en/components/toc.yml
  jp/components/splitter.md
  jp/components/toc.yml
Labels: splitter, status: pending-localization, version: 9.1.x

#1897 docs(switch): update switch docs and add styling section
  en/components/switch.md
Labels: status: pending-localization, status: verified, switch, version: 9.1.x

#1905 docs(radio): edit radio & radio group documentation
  en/components/radio_button.md
Labels: radio, status: pending-localization, status: verified, version: 9.1.x

#1910 docs(badge): update badge documentation
  en/components/badge.md
Labels: badge, status: pending-localization, status: verified, version: 9.1.x

#1913 Update validationFailed
  en/components/date_time_editor.md
Labels: date-editor, status: pending-localization, version: 9.1.x
