Repository IgniteUI/igniteui-docfx, pull requests merged in 2021-04, with the labels that each got.

#2688 Updating docfx template to 3rc 0
  package-lock.json
  package.json
Labels: status: verified

#2667 Add summary formatter section
  en/components/grids_templates/summaries.md
  en/components/toc.yml
Labels: grid, hierarchical-grid, status: verified, tree grid

#2685 [JP] Build SignalR app with .NET Core - master
  jp/components/general/how-to/signal-r-service-live-data.md
  jp/components/toc.yml
  jp/images/general/how-to/create-new-project.JPG
  jp/images/general/how-to/ws-hub-callers.JPG
  jp/images/general/how-to/ws-lets-party.JPG
  jp/images/general/how-to/ws-party-1.JPG
Labels: status: localized, status: verified

#2684 [JP] Build SignalR app with .NET Core - vnext
  jp/components/general/how-to/signal-r-service-live-data.md
  jp/components/toc.yml
  jp/images/general/how-to/create-new-project.JPG
  jp/images/general/how-to/ws-hub-callers.JPG
  jp/images/general/how-to/ws-lets-party.JPG
  jp/images/general/how-to/ws-party-1.JPG
Labels: status: localized, status: verified

#2695 docs(themes): fix typos and paths
  en/components/card.md
  en/components/general/update-guide.md
  en/components/themes/palettes.md
  en/components/themes/sass/component-themes.md
  en/components/themes/sass/roundness.md
  kr/components/general/update-guide.md
  kr/components/roundness.md
Labels: theme, version: 12.0.x

#2692 Add detach to overlay service
  en/components/overlay-position.md
  en/components/overlay-scroll.md
  en/components/overlay.md
Labels: category-topic, overlay, severity: medium, status: pending-localization, status: verified, version: 12.0.x

#2693 Update the height of input-types sample
  en/components/input-group.md
  jp/components/input-group.md
  kr/components/input-group.md
Labels: input-group, status: verified, version: 12.0.x

#2694 Updated BottomNav topic after refactoring.
  en/components/tabbar.md
  en/components/toc.yml
Labels: bottomNav, status: verified, version: 12.0.x

#2699 Update pages to be responsive - vnext
  en/components/chip.md
  en/components/general/cli-overview.md
  en/components/general/cli/auth-template.md
  en/components/general/cli/step-by-step-guide.md
  en/components/general/data-analysis.md
  en/components/general/getting-started.md
  en/components/general/update-guide.md
  en/components/general/wpf-to-angular-guide/create-first-angular-app.md
  en/components/general/wpf-to-angular-guide/create-ui-with-components.md
  en/components/general/wpf-to-angular-guide/layout.md
  en/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  en/components/grids_templates/collapsible-column-groups.md
  en/components/grids_templates/toolbar.md
  en/components/hierarchicalgrid/load-on-demand.md
  en/components/transaction.md
  jp/components/chip.md
  jp/components/general/cli-overview.md
  jp/components/general/cli/auth-template.md
  jp/components/general/cli/step-by-step-guide.md
  jp/components/general/data-analysis.md
  jp/components/general/getting-started.md
  jp/components/general/update-guide.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/general/wpf-to-angular-guide/create-ui-with-components.md
  jp/components/general/wpf-to-angular-guide/layout.md
  jp/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  jp/components/grids_templates/collapsible-column-groups.md
  jp/components/hierarchicalgrid/load-on-demand.md
  jp/components/transaction.md
Labels: status: verified

#2700 Update pages to be responsive - master
  en/components/chip.md
  en/components/general/cli-overview.md
  en/components/general/cli/auth-template.md
  en/components/general/cli/step-by-step-guide.md
  en/components/general/data-analysis.md
  en/components/general/getting-started.md
  en/components/general/update-guide.md
  en/components/general/wpf-to-angular-guide/create-first-angular-app.md
  en/components/general/wpf-to-angular-guide/create-ui-with-components.md
  en/components/general/wpf-to-angular-guide/layout.md
  en/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  en/components/grids_templates/collapsible-column-groups.md
  en/components/grids_templates/toolbar.md
  en/components/hierarchicalgrid/load-on-demand.md
  en/components/transaction.md
  jp/components/chip.md
  jp/components/general/cli-overview.md
  jp/components/general/cli/auth-template.md
  jp/components/general/cli/step-by-step-guide.md
  jp/components/general/data-analysis.md
  jp/components/general/getting-started.md
  jp/components/general/update-guide.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/general/wpf-to-angular-guide/create-ui-with-components.md
  jp/components/general/wpf-to-angular-guide/layout.md
  jp/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  jp/components/grids_templates/collapsible-column-groups.md
  jp/components/hierarchicalgrid/load-on-demand.md
  jp/components/transaction.md
Labels: status: verified

#2698 docs(tabs): Update tabs topic #2689
  en/components/tabbar.md
  en/components/tabs.md
Labels: status: verified, tabs

#2701 refactor(themes): update palette topic
  en/components/themes/palettes.md
Labels: status: pending-localization, theme, version: 12.0.x

#2710 Updating JP - vnext
  jp/components/general/how-to/signal-r-service-live-data.md
  jp/components/grid/grid.md
  jp/components/overlay-position.md
  jp/components/overlay-scroll.md
  jp/components/overlay.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/themes/palettes.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2718 Updating template to 3.0.0-rc.1
  package-lock.json
  package.json
Labels: status: verified

#2706 feat(Tabs): Adding a section for IgxBottomNav and IgxTabs changes in Update Guide.
  en/components/general/update-guide.md
Labels: bottomNav, status: pending-localization, status: verified, tabs, version: 12.0.x

#2716 feat(themes): full theming example with bootstrap
  en/components/themes/misc/bootstrap-theming.md
  en/components/toc.yml
  en/images/dark-variant.png
  en/images/igx-cards.png
  en/images/igx-dialog.png
  en/images/ngb-accordion.png
Labels: SEO, category: how-to, status: pending-localization, status: verified, theming, version: 12.0.x

#2719 feat(tree): IgxTree documentation topic
  en/components/toc.yml
  en/components/tree.md
Labels: status: pending-localization, tree, version: 12.0.x

#2712 Updating JP - master
  jp/components/general/how-to/signal-r-service-live-data.md
  jp/components/grid/grid.md
Labels: status: localized, status: verified

#2724 Add note for grid styling demos -vnext
  en/components/grid/groupby.md
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/cell-editing.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/column-moving.md
  en/components/grids_templates/column-pinning.md
  en/components/grids_templates/column-resizing.md
  en/components/grids_templates/column-selection.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/filtering.md
  en/components/grids_templates/multi-column-headers.md
  en/components/grids_templates/multi-row-layout.md
  en/components/grids_templates/row-editing.md
  en/components/grids_templates/row-pinning.md
  en/components/grids_templates/sorting.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/treegrid/tree-grid.md
  jp/components/grid/groupby.md
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/cell-editing.md
  jp/components/grids_templates/cell-selection.md
  jp/components/grids_templates/column-moving.md
  jp/components/grids_templates/column-pinning.md
  jp/components/grids_templates/column-resizing.md
  jp/components/grids_templates/column-selection.md
  jp/components/grids_templates/excel-style-filtering.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/multi-column-headers.md
  jp/components/grids_templates/multi-row-layout.md
  jp/components/grids_templates/row-editing.md
  jp/components/grids_templates/row-pinning.md
  jp/components/grids_templates/sorting.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/treegrid/tree-grid.md
Labels: status: verified

#2732 fix(tree): smaller height of demos in tree topic
  en/components/tree.md
Labels: status: verified

#2727 feat(excel-export): add sample for hierarchical grid
  en/components/exporter-excel.md
  en/components/grids_templates/export-excel.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/toc.yml
Labels: excel-exporter, status: verified, version: 12.0.x

#2735 Update date picker EN
  en/components/date-picker.md
Labels: status: verified

#2734 Update column types topic
  en/components/grids_templates/column-types.md
Labels: column-types, status: verified

#2733 [JP] Adding the latest changes - vNext
  jp/components/button.md
  jp/components/expansion-panel.md
  jp/components/general-breaking-changes-dv.md
  jp/components/general-licensing.md
  jp/components/general/angular-grid-overview-guide.md
  jp/components/general/localization.md
  jp/components/general/update-guide.md
  jp/components/grid/groupby.md
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/cell-editing.md
  jp/components/grids_templates/cell-selection.md
  jp/components/grids_templates/column-hiding.md
  jp/components/grids_templates/column-moving.md
  jp/components/grids_templates/column-pinning.md
  jp/components/grids_templates/column-resizing.md
  jp/components/grids_templates/column-selection.md
  jp/components/grids_templates/excel-style-filtering.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/multi-column-headers.md
  jp/components/grids_templates/multi-row-layout.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/row-editing.md
  jp/components/grids_templates/row-pinning.md
  jp/components/grids_templates/sorting.md
  jp/components/grids_templates/summaries.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/interactivity/accessibility-compliance.md
  jp/components/interactivity/right-to-left-support.md
  jp/components/slider/slider.md
  jp/components/tabs.md
  jp/components/themes.md
  jp/components/themes/index.md
  jp/components/themes/misc/bootstrap-theming.md
  jp/components/themes/sass/animations.md
  jp/components/themes/sass/component-themes.md
  jp/components/themes/sass/css-variables.md
  jp/components/themes/sass/elevations.md
  jp/components/themes/sass/global-themes.md
  jp/components/themes/sass/palettes.md
  jp/components/themes/sass/presets/fluent.md
  jp/components/themes/sass/presets/material.md
  jp/components/themes/sass/typography.md
  jp/components/toc.yml
  jp/components/tree.md
  jp/components/treegrid/tree-grid.md
  jp/components/zoomslider-overview.md
  jp/images/dark-variant.png
  jp/images/igx-cards.png
  jp/images/igx-dialog.png
  jp/images/ngb-accordion.png
Labels: status: localized, status: verified

#2730 Row types updates v next
  en/components/general/update-guide.md
  en/components/grid/grid.md
  en/components/grid/groupby.md
  en/components/grid/master-detail.md
  en/components/grid/paste-excel.md
  en/components/grids_templates/cell-editing.md
  en/components/grids_templates/column-types.md
  en/components/grids_templates/conditional-cell-styling.md
  en/components/grids_templates/editing.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/live-data.md
  en/components/grids_templates/row-adding.md
  en/components/grids_templates/row-drag.md
  en/components/grids_templates/row-pinning.md
  en/components/grids_templates/selection.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/treegrid/tree-grid.md
  jp/components/grid/grid.md
  jp/components/grid/groupby.md
  jp/components/grid/master-detail.md
  jp/components/grid/paste-excel.md
  jp/components/grids_templates/cell-editing.md
  jp/components/grids_templates/conditional-cell-styling.md
  jp/components/grids_templates/editing.md
  jp/components/grids_templates/excel-style-filtering.md
  jp/components/grids_templates/live-data.md
  jp/components/grids_templates/row-adding.md
  jp/components/grids_templates/row-drag.md
  jp/components/grids_templates/row-pinning.md
  jp/components/grids_templates/selection.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/treegrid/tree-grid.md
  kr/components/grid/grid.md
  kr/components/grid/groupby.md
  kr/components/grid/paste-excel.md
  kr/components/grids_templates/conditional-cell-styling.md
  kr/components/grids_templates/editing.md
  kr/components/grids_templates/excel-style-filtering.md
  kr/components/grids_templates/row-pinning.md
  kr/components/grids_templates/selection.md
  kr/components/hierarchicalgrid/hierarchical-grid.md
  kr/components/treegrid/tree-grid.md
Labels: status: verified

#2741 Fix broken links in the Filtering topic
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/filtering.md
Labels: grid, status: verified

#2745 Updating template to 3.0.0-rc.2
  en/components/tree.md
  package-lock.json
  package.json
Labels: status: verified

#2744 Fixed broken links - ESF, Tabs, Bottom Nav & Navbar - vNext
  en/components/grids_templates/excel-style-filtering.md
  en/components/navbar.md
  en/components/tabbar.md
  en/components/tabs.md
Labels: grid, status: verified, tabs

#2729 Update batch editing topic
  en/components/grids_templates/batch-editing.md
Labels: batch-editing, category-enhancement, grid, hierarchical-grid, severity: medium, status: pending-localization, status: verified, transaction, tree grid, version: 12.0.x

#2747 [JP] Adding latest localized changes
  jp/components/exporter-excel.md
  jp/components/general-breaking-changes-dv.md
  jp/components/general-licensing.md
  jp/components/general/update-guide.md
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/cell-editing.md
  jp/components/grids_templates/column-types.md
  jp/components/grids_templates/editing.md
  jp/components/grids_templates/excel-style-filtering.md
  jp/components/grids_templates/export-excel.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/live-data.md
  jp/components/grids_templates/row-drag.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/navbar.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/toc.yml
  jp/components/tree.md
Labels: status: localized, status: verified

#2756 [JP] Updating Batch Editing topic
  jp/components/grids_templates/batch-editing.md
Labels: status: localized, status: verified

#2751 Change code view height hierarchical grid excel export
  en/components/grids_templates/export-excel.md
Labels: code-view, hierarchical-grid, status: verified

#2761 Add TreeGrid and HierarchicalGrid links and remove unnecessary note
  en/components/exporter-csv.md
Labels: status: verified

#2765 fix(Grids): Fixed broken sass links
  en/components/grids_templates/column-hiding.md
  en/components/grids_templates/paging.md
  en/components/grids_templates/sorting.md
Labels: grid, status: verified

#2767 fix(column-selection): fix broken links
  en/components/grids_templates/column-selection.md
Labels: status: verified

#2766 Fix broken links in TreeGrid State Persistence topic #2764
  en/components/grids_templates/state-persistence.md
Labels: state-persistence, status: verified, tree grid

#2770 fix(docs): Fix two broken links
  en/components/grids_templates/column-resizing.md
  en/components/grids_templates/row-pinning.md
Labels: grid, status: verified

#2769 Add reusable paginator sample for the TreeGrid topic
  en/components/grids_templates/paging.md
Labels: paging, status: verified, tree grid

#2771 feat(hierarchical-grid): add hgrid sample in paging topic
  en/components/grids_templates/paging.md
Labels: hierarchical-grid, status: verified

#2773 fix(Grid): Fixed broken links in Column Data Types and Multi-column headers topics
  en/components/grids_templates/column-types.md
  en/components/grids_templates/multi-column-headers.md
Labels: grid, status: verified, version: 12.0.x

#2757 Fix leftover button reference from copied paragraph
  en/components/general/update-guide.md
Labels: avatar, update-guide
