Repository IgniteUI/igniteui-docfx, pull requests merged in 2021-11, with the labels that each got.

#3004 Update appbuilder navigation url
  package-lock.json
  package.json
Labels: status: verified

#3001 Update template version - master
  package-lock.json
  package.json
Labels: status: verified

#2998 Replace references to rowData and row component
  en/components/grid/grid.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/conditional-cell-styling.md
  en/components/grids_templates/row-selection.md
  en/components/grids_templates/selection.md
  en/components/grids_templates/sizing.md
  en/components/treegrid/tree-grid.md
  jp/components/grid/grid.md
  jp/components/grids_templates/cell-selection.md
  jp/components/grids_templates/conditional-cell-styling.md
  jp/components/grids_templates/row-adding.md
  jp/components/grids_templates/row-selection.md
  jp/components/grids_templates/selection.md
  jp/components/grids_templates/sizing.md
  jp/components/treegrid/tree-grid.md
  kr/components/grids_templates/row-drag.md
  kr/components/grids_templates/selection.md
  kr/components/grids_templates/sizing.md
  kr/components/treegrid/tree-grid.md
Labels: status: verified

#3014 Update dialog topic with focus trap section
  en/components/dialog.md
Labels: status: pending-localization, dialog, version: 13.0.x

#2906 refactor(update-guide): add 12.1 theming section
  en/components/general/update-guide.md
Labels: status: pending-localization, theme, version: 12.1.x

#3016 [JA] Adding the latest changes - Stepper topic, other content - vNext
  jp/components/dialog.md
  jp/components/general/update-guide.md
  jp/components/grids_templates/selection.md
  jp/components/stepper.md
  jp/components/toc.yml
  jp/images/stepper/stepper-contentTop.png
  jp/images/stepper/stepper-step.png
Labels: status: verified, status: localized

#3013 feat(grid): update how to use action-strip
  en/components/action-strip.md
  en/components/grids_templates/action-strip.md
  en/components/toc.yml
Labels: action-strip

#3008 feat(grids): update Sorting topics with the newly added feature for templating sorting indicator
  en/components/grids_templates/sorting.md
Labels: category-topic, status: verified, grid, tree grid, hierarchical-grid, enhancement

#3017 Add simple combo docs
  en/components/combo-cascading.md
  en/components/combo-features.md
  en/components/combo-remote.md
  en/components/combo-templates.md
  en/components/combo.md
  en/components/simple-combo.md
  en/components/toc.yml
  jp/components/combo-cascading.md
  jp/components/combo-features.md
  jp/components/combo-remote.md
  jp/components/combo-templates.md
  jp/components/combo.md
  jp/components/simple-combo.md
  jp/components/toc.yml
  kr/components/combo-cascading.md
  kr/components/combo-features.md
  kr/components/combo-remote.md
  kr/components/combo-templates.md
  kr/components/combo.md
  kr/components/simple-combo.md
  kr/components/toc.yml
Labels: category-topic, status: pending-localization, status: verified, severity: medium, version: 13.0.x, simple combo, squash-merge

#3019 [vNext] Updating JP for #3008 and #3013.
  jp/components/action-strip.md
  jp/components/grids_templates/action-strip.md
  jp/components/grids_templates/sorting.md
  jp/components/toc.yml
Labels: status: verified, status: localized

#3022 chore(grid):rename action-strip to row actions
  en/components/grids_templates/row-actions.md
  en/components/row-actions.md
  en/components/toc.yml
  jp/components/grids_templates/row-actions.md
Labels: status: verified, action-strip

#3027 [JA] Updating Combo topics
  jp/components/combo-features.md
  jp/components/combo-remote.md
  jp/components/combo-templates.md
  jp/components/combo.md
  jp/components/simple-combo.md
  jp/components/toc.yml
Labels: status: verified, status: localized

#3024 fix(tree-grid): update link for sample for row actions
  en/components/grids_templates/row-actions.md
Labels: action-strip

#3025 fix(tree-grid): remove duplicate sample
  en/components/treegrid/tree-grid.md
Labels: status: verified, tree grid

#3032 refactor(simple-combo): update docs for simple combo
  en/components/simple-combo.md
Labels: category-topic, status: pending-localization, status: verified, severity: medium, category-api-docs, version: 13.0.x, simple combo, squash-merge

#3033 Fix dialog section links
  en/components/dialog.md
Labels: status: awaiting-test, dialog

#3031 Update toollbar topic
  en/components/grids_templates/toolbar.md
  jp/components/grids_templates/toolbar.md
  kr/components/grids_templates/toolbar.md
Labels: status: pending-localization, status: verified, toolbar

#3035 Update igxButton directive topic.
  en/components/button.md
  jp/components/button.md
Labels: button, version: 13.0.x

#3026 docs(update-guide): add theming section for angular 13
  en/components/general/update-guide.md
Labels: status: pending-localization, theming, version: 13.0.x

#3040 docs(update-guide): add additional information regarding themes
  en/components/general/update-guide.md
Labels: status: awaiting-test, theming, update-guide, version: 13.0.x

#3042 Update above the fold content on Angular data grid page
  en/components/grid/grid.md
Labels: status: in-development, SEO

#3047 Add new image
  .github/CONTRIBUTING.md
  en/components/grid/grid.md
  en/images/general/landing-grid-page.PNG
Labels: status: pending-localization

#3050 Final SEO content changes
  .github/CONTRIBUTING.md
  en/components/grid/grid.md
Labels: status: pending-localization

#3054 fix broken links
  en/components/badge.md
  en/components/input-group.md
Labels: status: verified

#3053 [JA] Updaing topics after testing - vNext
  jp/components/autocomplete.md
  jp/components/avatar.md
  jp/components/badge.md
  jp/components/banner.md
  jp/components/card.md
  jp/components/carousel.md
  jp/components/date-range-picker.md
  jp/components/dialog.md
  jp/components/drop-down-virtual.md
  jp/components/drop-down.md
  jp/components/for-of.md
  jp/components/general/angular-grid-overview-guide.md
  jp/components/general/update-guide.md
  jp/components/general/wpf-to-angular-guide/create-ui-with-components.md
  jp/components/general/wpf-to-angular-guide/layout.md
  jp/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  jp/components/grid/grid.md
  jp/components/grids_templates/column-hiding.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/row-drag.md
  jp/components/grids_templates/row-pinning.md
  jp/components/grids_templates/row-selection.md
  jp/components/grids_templates/selection.md
  jp/components/grids_templates/summaries.md
  jp/components/grids_templates/toolbar.md
  jp/components/grids_templates/virtualization.md
  jp/components/layout.md
  jp/components/list.md
  jp/components/navbar.md
  jp/components/overlay-styling.md
  jp/components/overlay.md
  jp/components/ripple.md
  jp/components/simple-combo.md
  jp/components/snackbar.md
  jp/components/splitter.md
  jp/components/stepper.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/themes.md
  jp/components/themes/sass/component-themes.md
  jp/components/themes/sass/configuration.md
  jp/components/themes/sass/global-themes.md
  jp/components/time-picker.md
  jp/components/toast.md
  jp/components/toggle.md
  jp/components/tooltip.md
  jp/images/general/landing-grid-page.PNG
Labels: status: verified, status: localized

#3061 docs(avatar, button): update docs
  en/components/avatar.md
  en/components/button.md
Labels: status: pending-localization, avatar, button, theme, version: 13.0.x

#3066 removed DV topics ported by mistake from xplat-docs
  en/components/charts/features/chart-titles.md
  en/components/charts/types/gantt-chart.md
  en/components/charts/types/network-chart.md
  en/components/charts/types/pyramid-chart.md
  en/components/grids.md
  en/components/grids/grids.md
  en/components/grids/list.md
  en/components/inputs/button.md
  en/components/inputs/form.md
  en/components/inputs/link-button.md
  en/components/layouts/card.md
  en/components/menus/navbar.md
  en/components/menus/navigation-drawer.md
Labels: dv-charts, dv-grids
