Repository IgniteUI/igniteui-docfx, pull requests merged in 2021-06, with the labels that each got.

#2819 [JP] Adding latest changes
  jp/components/general/localization.md
  jp/components/themes/sass/typography.md
  jp/components/toc.yml
  jp/components/treegrid/groupby.md
Labels: status: localized, status: verified

#2816 Add 9 new languages to app localization topic - vNext
  en/components/general/localization.md
Labels: i18n, status: pending-localization, status: verified, version: 12.1.x

#2817 Add 9 new languages to app localization topic - master
  en/components/general/localization.md
Labels: i18n, status: pending-localization, status: verified, version: 12.0.x

#2821 [JP] Adding 9 languages to the localization topic - vnext
  jp/components/general/localization.md
Labels: status: localized, status: verified

#2823 Add date & time picker in Angular forms section-vNext
  en/components/date-picker.md
  en/components/time-picker.md
Labels: date-picker, status: verified, time-picker

#2824 Adding styling guide dev
  en/components/style-guide.md
Labels: status: verified

#2838 Date & time picker in Angular forms section-vNext
  en/components/date-picker.md
  en/components/time-picker.md
Labels: date-picker, status: verified, time-picker

#2848 [JP] Date & time picker in Angular forms - vnext
  jp/components/date-picker.md
  jp/components/time-picker.md
Labels: status: localized, status: verified

#2850 refactor(themes): add info about scrollbar config
  en/components/themes/sass/configuration.md
Labels: status: pending-localization, theme

#2851 refactor(themes): add info about scrollbar config
  en/components/themes/sass/configuration.md
Labels: status: pending-localization, theme

#2853 Fix rowEditable links for editing topics - vnext
  en/components/grids_templates/editing.md
  jp/components/grids_templates/editing.md
Labels: grid, status: localized, status: verified

#2852 Fix rowEditable links for editing topics - master
  en/components/grids_templates/editing.md
  jp/components/grids_templates/editing.md
Labels: grid, status: localized, status: verified

#2859 [JP] refactor(themes): add info about scrollbar config - master
  jp/components/themes/sass/configuration.md
Labels: status: localized, status: verified

#2858 [JP] refactor(themes): add info about scrollbar config - vnext
  jp/components/themes/sass/configuration.md
Labels: status: localized, status: verified

#2869 Update to docfx template v3.0.9 - new theme
  package-lock.json
  package.json
Labels: status: verified
