Repository IgniteUI/igniteui-docfx, pull requests merged in 2021-01, with the labels that each got.

#2508 docs(radio-button): include info for the radio group alignment
  en/components/radio-button.md
Labels: radio, status: pending-localization, version: 11.1.x

#2510 docs(theming): fix broken links
  en/components/display-density.md
  en/components/shadows.md
  en/components/themes/component-themes.md
  en/components/themes/index.md
  en/components/themes/palette.md
Labels: status: awaiting-test, version: 11.0.x

#2509 docs(theming): provide documentation for animations
  en/components/animations.md
  en/components/toc.yml
Labels: category-styling, status: pending-localization, status: verified, version: 11.1.x

#2515 Adding a note for the combo's default type.
  en/components/combo.md
Labels: combo, status: verified

#2514 Adding a note for the combo's default type.
  en/components/combo.md
Labels: combo, status: verified

#2512 Removing the FormControl() call.
  en/components/input-group-reactive-forms.md
  jp/components/input-group-reactive-forms.md
  kr/components/input-group-reactive-forms.md
Labels: input, input-group, status: verified

#2513 Removing the FormControl() call.
  en/components/input-group-reactive-forms.md
  jp/components/input-group-reactive-forms.md
  kr/components/input-group-reactive-forms.md
Labels: input, input-group, status: verified

#2516 Valadzhov/overlay main page 560 v next
  en/components/combo.md
  en/components/dialog.md
  en/components/drop-down.md
  en/components/overlay-position.md
  en/components/overlay-scroll.md
  en/components/overlay-styling.md
  en/components/overlay.md
  en/components/select.md
  en/components/time-picker.md
  en/components/toc.yml
  en/components/tooltip.md
  jp/components/combo.md
  jp/components/dialog.md
  jp/components/drop-down.md
  jp/components/overlay-position.md
  jp/components/overlay-scroll.md
  jp/components/overlay-styling.md
  jp/components/overlay.md
  jp/components/select.md
  jp/components/time-picker.md
  jp/components/toc.yml
  jp/components/tooltip.md
  kr/components/grids-and-lists.md
  kr/components/overlay.md
  kr/components/toc.yml
  kr/components/toggle.md
  kr/components/tooltip.md
Labels: overlay, status: verified

#2517 Valadzhov/overlay main page 560 master
  en/components/combo.md
  en/components/dialog.md
  en/components/drop-down.md
  en/components/overlay-position.md
  en/components/overlay-scroll.md
  en/components/overlay-styling.md
  en/components/overlay.md
  en/components/select.md
  en/components/time-picker.md
  en/components/toc.yml
  en/components/tooltip.md
  jp/components/combo.md
  jp/components/dialog.md
  jp/components/drop-down.md
  jp/components/overlay-position.md
  jp/components/overlay-scroll.md
  jp/components/overlay-styling.md
  jp/components/overlay.md
  jp/components/select.md
  jp/components/time-picker.md
  jp/components/toc.yml
  jp/components/tooltip.md
  kr/components/grids-and-lists.md
  kr/components/overlay.md
  kr/components/toc.yml
  kr/components/toggle.md
  kr/components/tooltip.md
Labels: overlay, status: verified

#2523 Fix typo in elevations article
  en/components/shadows.md
Labels: severity: low, status: verified, theming, version: 11.1.x

#2524 docs(icon): update icon inputs names
  en/components/icon.md
  en/components/material-icons-extended.md
Labels: icon, material-icons-extended, status: pending-localization, status: verified, version: 11.1.x

#2519 [JA] Updating localization to match the latest changes and additions.
  jp/components/animations.md
  jp/components/combo.md
  jp/components/display-density.md
  jp/components/radio-button.md
  jp/components/shadows.md
  jp/components/themes/component-themes.md
  jp/components/themes/index.md
  jp/components/themes/palette.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2520 Updating JP for #2510, #2514. TOC fixes. - master
  jp/components/combo.md
  jp/components/display-density.md
  jp/components/shadows.md
  jp/components/themes/component-themes.md
  jp/components/themes/index.md
  jp/components/themes/palette.md
  jp/components/toc.yml
Labels: status: localized, status: verified

#2525 refactor(input-group): add theme section
  en/components/input-group.md
Labels: input-group, status: pending-localization, status: verified, version: 11.1.x

#2532 docs(theming): generating color palettes at runtime
  en/components/themes/css-variables-theming.md
  en/components/toc.yml
Labels: status: pending-localization, status: verified, theming, version: 11.1.x
