Repository IgniteUI/igniteui-docfx, pull requests merged in 2022-12, with the labels that each got.

#3433 [JP] Updating Combo topics + Column Types - vNext
  jp/components/combo-remote.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/grids_templates/column-types.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/sizing.md
  jp/components/query-builder.md
  jp/components/simple-combo.md
  jp/components/snackbar.md
  jp/components/texthighlight.md
  jp/components/themes.md
  jp/components/toast.md
  jp/components/toggle.md
  jp/components/tooltip.md
  jp/components/transaction-classes.md
Labels: status: verified, status: localized

#3434 [JP] Merging JP vNext to master, spacing fixes.
  jp/components/combo-remote.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/grids_templates/column-types.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/sizing.md
  jp/components/query-builder.md
  jp/components/simple-combo.md
  jp/components/snackbar.md
  jp/components/texthighlight.md
  jp/components/themes.md
  jp/components/toast.md
  jp/components/toggle.md
  jp/components/tooltip.md
  jp/components/transaction-classes.md
Labels: status: localized

#3436 Update template version
  package-lock.json
  package.json
Labels: status: awaiting-test

#3440 fix(stepper): apply the correct link for the W3 accessability standards
  en/components/stepper.md
  jp/components/stepper.md
Labels: status: verified, stepper

#3447 Temporary API fixes for JP - master.
  jp/components/general/update-guide.md
  jp/components/grids_templates/column-hiding.md
  jp/components/grids_templates/summaries.md
  jp/components/grids_templates/toolbar.md
  jp/components/toggle.md
Labels: status: verified, status: localized

#3437 feat(grids-and-lists): add stackblitz view for crm grid
  en/components/grids-and-lists.md
  jp/components/grids-and-lists.md
Labels: status: awaiting-test, grid, category-StackBlitz

#3445 Change input group description
  en/components/input-group.md
Labels: category-topic, status: verified, input-group, squash-merge

#3438 Create multi-select hierarchical drop-down topic
  en/components/drop-down-hierarchical-selection.md
  en/components/toc.yml
Labels: category-topic, status: verified, dropdown, squash-merge

#3456 feat(state-persistence): add section for stateParsed event for grid component
  en/components/grids_templates/state-persistence.md
  jp/components/grids_templates/state-persistence.md
Labels: status: pending-localization, status: verified, state-persistence

#3444 input-group: add validation section
  en/components/input-group.md
Labels: category-topic, status: verified, input-group, squash-merge
