Repository IgniteUI/igniteui-docfx, pull requests merged in 2022-04, with the labels that each got.

#3169 [JA] Updating grid and row actions
  jp/components/grid/grid.md
  jp/components/grids_templates/row-actions.md
Labels: status: verified, status: localized

#3128 fix(circular progress): code snippets
  en/components/circular-progress.md
  jp/components/circular-progress.md
Labels: status: verified, circular-progress

#3168 docs(ghrid): Increase HGrid Keyboard Nav sample height
  en/components/grids_templates/keyboard-navigation.md
  jp/components/grids_templates/keyboard-navigation.md
Labels: status: verified

#3170 [JA] Updating grid topic
  jp/components/grid/grid.md
Labels: status: localized

#3175 Update date-picker docs
  en/components/date-picker.md
  kr/components/date-picker.md
Labels: status: verified, date-picker

#3176 [JA] Date Picker fixes
  jp/components/date-picker.md
Labels: status: localized

#3181 fix(combo): revert back igxCombo single selection snippet
  en/components/combo.md
Labels: status: pending-localization, combo

#3182 fix(combo): revert back igxCombo single selection snippet
  en/components/combo.md
Labels: status: pending-localization, combo

#3173 add inform text for Pinning w/ Multi-Column Header
  en/components/grids_templates/multi-column-headers.md
Labels: status: verified, multi-column-headers, enhancement

#3174 add inform text for Pinning w/ Multi-Column Header
  en/components/grids_templates/multi-column-headers.md
Labels: multi-column-headers, enhancement

#3184 [Localization] Updating Combo Topic - vNext
  jp/components/combo.md
Labels: status: localized

#3187 docs(*): update rtl documention
  en/components/general/update-guide.md
  en/components/interactivity/accessibility-compliance.md
  en/components/interactivity/right-to-left-support.md
  en/components/themes/index.md
  en/components/themes/sass/configuration.md
  en/components/themes/sass/global-themes.md
Labels: status: pending-localization, status: verified, theme, update-guide, version: 13.2.x

#3188 docs(palettes): provide a list of predefined palettes
  en/components/themes/sass/palettes.md
Labels: status: pending-localization, status: verified, category-sassdoc, palettes

#3186 docs(schemas): provide list with predefined schemas
  en/components/themes/sass/schemas.md
Labels: status: pending-localization, status: verified, category-sassdoc, schemas
