Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-11, with the labels that each got.

#3982 docs(standalone): removing preview for standalone
  en/components/general/how-to/how-to-use-standalone-components.md
Labels: status: pending-localization, standalone, 17.0.x

#3981 feat(i18n): updating topic for igniteui-angular 17
  en/components/general/localization.md
Labels: status: pending-localization, 17.0.x

#3973 docs: Update guide additional steps for 16.1.x to 17.0.x
  en/components/general/update-guide.md
Labels: status: pending-localization, combo, simple combo, squash-merge, 17.0.x

#3983 Merge vnext in master
  en/components/button-group.md
  en/components/drop-down.md
  en/components/general/how-to/how-to-use-standalone-components.md
  en/components/general/localization.md
  en/components/general/update-guide.md
  en/components/grid/groupby.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/column-types.md
  en/components/grids_templates/keyboard-navigation.md
  en/components/grids_templates/row-actions.md
  en/components/grids_templates/row-selection.md
  en/components/grids_templates/sorting.md
  en/components/grids_templates/state-persistence.md
  en/components/grids_templates/validation.md
  jp/components/button-group.md
  jp/components/drop-down.md
  jp/components/grid/groupby.md
  jp/components/grids_templates/cell-selection.md
  jp/components/grids_templates/column-types.md
  jp/components/grids_templates/keyboard-navigation.md
  jp/components/grids_templates/row-actions.md
  jp/components/grids_templates/row-selection.md
  jp/components/grids_templates/sorting.md
  jp/components/grids_templates/state-persistence.md
  jp/components/grids_templates/validation.md
Labels: 17.0.x

#3989 docs(localization): removing unnecessary stackblitz
  en/components/general/localization.md
Labels: status: pending-localization

#3990 docs(geo-map): fix generated links with undefined in path
  en/components/geo-map-binding-multiple-shapes.md
  en/components/geo-map-binding-shp-file.md
  en/components/geo-map-display-heat-imagery.md
  en/components/geo-map-shape-files-reference.md
  en/components/geo-map-type-scatter-symbol-series.md
  en/components/geo-map-type-shape-polygon-series.md
  en/components/geo-map-type-shape-polyline-series.md
Labels: status: pending-localization, dv-maps

#3970 feat(radio): updating standalone topic
  en/components/general/how-to/how-to-use-standalone-components.md
  en/components/radio-button.md
  en/components/toc.yml
Labels: status: pending-localization, status: awaiting-test, radio

#3997 Describe additional steps for nguniversal projects that update to 17
  en/components/general/update-guide.md
Labels: status: pending-localization, update-guide, 17.0.x

#4016 docs(icon-button): create article
  en/components/button.md
  en/components/calendar.md
  en/components/card.md
  en/components/carousel.md
  en/components/circular-progress.md
  en/components/dialog.md
  en/components/drop-down.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/row-actions.md
  en/components/grids_templates/row-editing.md
  en/components/grids_templates/search.md
  en/components/icon-button.md
  en/components/input-group.md
  en/components/linear-progress.md
  en/components/navbar.md
  en/components/navdrawer.md
  en/components/ripple.md
  en/components/snackbar.md
  en/components/texthighlight.md
  en/components/themes/elevations.md
  en/components/themes/misc/angular-material-theming.md
  en/components/themes/sass/roundness.md
  en/components/toast.md
  en/components/toc.yml
  en/components/toggle.md
  en/components/transaction-how-to-use.md
Labels: status: pending-localization, status: verified, button, 17.1.x, icon-button
