Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-08, with the labels that each got.

#3849 fix(dialog): displaying the dialog links properly
  en/components/dialog.md
Labels: status: awaiting-test, dialog

#3847 fix(action-strip): displaying all note sections properly
  en/components/action-strip.md
Labels: status: verified, action-strip

#3845 fix(slider): displaying the slider links properly
  en/components/slider/slider-ticks.md
  en/components/slider/slider.md
Labels: status: verified, slider

#3840 style(multi-row layout): update section navigator
  en/components/grids_templates/multi-row-layout.md
Labels: status: verified

#3850 Adding the latest formatting changes - JA.
  jp/components/action-strip.md
  jp/components/dialog.md
  jp/components/grids_templates/multi-row-layout.md
  jp/components/slider/slider-ticks.md
  jp/components/slider/slider.md
Labels: status: verified, status: localized

#3852 fix(stepper): displaying all note sections properly
  en/components/stepper.md
Labels: status: resolved, stepper

#3861 [JA] Fixing NOTE sections as per EN - Stepper topic.
  jp/components/stepper.md
Labels: status: localized

#3859 fix(date-time-editor): displaing all notes and section title properly
  en/components/date-time-editor.md
Labels: status: resolved, date-editor

#3864 Updating JA - Date Time Editor, Icon
  jp/components/date-time-editor.md
  jp/components/icon.md
Labels: status: verified, status: localized

#3866 fix(date/time-picker, date-range-picker): displaying the note section…
  en/components/date-picker.md
  en/components/date-range-picker.md
  en/components/time-picker.md
Labels: status: resolved, time-picker, date-picker, date-range-picker

#3867 [JA] Adding changes from #3866
  jp/components/date-picker.md
  jp/components/date-range-picker.md
  jp/components/time-picker.md
Labels: status: localized

#3869 fix(accordion, expansion-panel, layout): displaying the note sections properly
  en/components/accordion.md
  en/components/expansion-panel.md
  en/components/layout.md
Labels: status: awaiting-test, expansion-panel, layout manager, accordion
