Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-01, with the labels that each got.

#3459 fix(row-drag-tree-grid-en): edit code snippet
  en/components/grids_templates/row-drag.md
Labels: status: verified, tree grid, row-drag

#3450 fix(selection): add code snippets for selection events
  en/components/grids_templates/row-selection.md
  en/components/grids_templates/selection.md
  jp/components/grids_templates/row-selection.md
  jp/components/grids_templates/selection.md
Labels: status: in-test, multi-cell-selection, grid-selection, grid-row-selection

#3461 [Localization] Updating JP content with the latest changes - Input Group, new topic, other fixes.
  jp/components/date-picker.md
  jp/components/date-range-picker.md
  jp/components/date-time-editor.md
  jp/components/drop-down-hierarchical-selection.md
  jp/components/grids_templates/row-drag.md
  jp/components/grids_templates/state-persistence.md
  jp/components/input-group.md
  jp/components/time-picker.md
  jp/components/toc.yml
Labels: status: verified, status: localized

#3467 IgxTree: Fix the selection section API of the tree topic
  en/components/tree.md
Labels: status: verified, tree

#3463 Kdragieva/3452 SEO improvements on checkbox help page
  en/components/checkbox.md
  en/components/grids_templates/cell-editing.md
Labels: status: verified, checkbox, SEO

#3466 chore(SEO): improvements on select page
  en/components/select.md
Labels: status: awaiting-test, select, SEO

#3465 chore(SEO): improvements on button page
  en/components/button.md
  en/components/grids_templates/row-editing.md
Labels: status: awaiting-test, button, SEO

#3472 [JP] Updating Button, Checkbox and Select topics with the latest changes - vNext
  jp/components/button.md
  jp/components/carousel.md
  jp/components/checkbox.md
  jp/components/grids_templates/cell-editing.md
  jp/components/grids_templates/row-editing.md
  jp/components/select.md
Labels: status: verified, status: localized

#3288 Changes from AngularDocFX_KR
  kr/components/bullet-graph.md
  kr/components/charts/features/chart-animations.md
  kr/components/charts/features/chart-annotations.md
  kr/components/charts/features/chart-axis-gridlines.md
  kr/components/charts/features/chart-axis-layouts.md
  kr/components/charts/features/chart-axis-options.md
  kr/components/charts/features/chart-highlighting.md
  kr/components/charts/features/chart-markers.md
  kr/components/charts/features/chart-navigation.md
  kr/components/charts/features/chart-overlays.md
  kr/components/charts/features/chart-performance.md
  kr/components/charts/features/chart-synchronization.md
  kr/components/charts/features/chart-tooltips.md
  kr/components/charts/features/chart-trendlines.md
  kr/components/charts/types/area-chart.md
  kr/components/charts/types/bar-chart.md
  kr/components/charts/types/bubble-chart.md
  kr/components/charts/types/column-chart.md
  kr/components/charts/types/composite-chart.md
  kr/components/charts/types/donut-chart.md
  kr/components/charts/types/line-chart.md
  kr/components/charts/types/pie-chart.md
  kr/components/charts/types/point-chart.md
  kr/components/charts/types/polar-chart.md
  kr/components/charts/types/radial-chart.md
  kr/components/charts/types/scatter-chart.md
  kr/components/charts/types/shape-chart.md
  kr/components/charts/types/sparkline-chart.md
  kr/components/charts/types/spline-chart.md
  kr/components/charts/types/stacked-chart.md
  kr/components/charts/types/step-chart.md
  kr/components/charts/types/stock-chart.md
  kr/components/charts/types/treemap-chart.md
  kr/components/excel-library-using-workbooks.md
  kr/components/excel-library-working-with-charts.md
  kr/components/geo-map.md
  kr/components/linear-gauge.md
  kr/components/radial-gauge.md
  kr/components/spreadsheet-configuring.md
  kr/components/spreadsheet-overview.md
  kr/components/zoomslider-overview.md
  kr/images/general/blazor-excel.png
  kr/images/general/blazor-wasm-app-2.png
  kr/images/general/blazor-wasm-app.png
  kr/images/general/lazy-loaded-assembly.png
  kr/images/general/lazy-loading-of-assembly.png
Labels: status: in-development

#3475 fix(themes): update typography docs
  en/components/themes.md
  en/components/themes/sass/typography.md
  en/components/themes/typography.md
Labels: status: verified, version: 15.1.x, version: 15.0.x

#3483 Update template version
  en/components/grids-and-lists.md
  package-lock.json
  package.json
Labels: status: awaiting-test
