Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-12, with the labels that each got.

#4035 chore(deps): update template version
  package-lock.json
  package.json
Labels: status: verified

#4036 Add description about toggleNodeOnClick and singleBranchExpand
  en/components/toc.yml
  en/components/tree.md
Labels: status: awaiting-test, tree

#4027 docs(angular-material): update to match latest sample changes
  en/components/themes/misc/angular-material-theming.md
  en/images/igx-expansion-panel.png
Labels: status: verified, 17.0.x

#5611 chore(*): updating TOC labels
  en/components/toc.yml
Labels: status: pending-localization, toc

#5613 [JA] Updating TOC labels.
  en/components/toc.yml
  jp/components/toc.yml
Labels: status: localized

#5623 docs(cli;schematics): add notes for standalone & legacy projects
  en/components/general/cli/getting-started-with-angular-schematics.md
  en/components/general/cli/getting-started-with-cli.md
  en/components/general/cli/step-by-step-guide-using-angular-schematics.md
  en/components/general/cli/step-by-step-guide-using-cli.md
  en/images/general/ig-step-by-step-project-type-cli.png
  en/images/general/ig-step-by-step-project-type.png
Labels: status: pending-localization, category-cli
