Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-09, with the labels that each got.

#3872 Update licensing topic
  en/components/general-licensing.md
  en/components/general/ignite-ui-licensing.md
  en/images/general/generate-token.jpg
  jp/components/general-licensing.md
  jp/components/general/ignite-ui-licensing.md
  kr/components/general-licensing.md
Labels: status: verified, status: localized

#3877 fix(icon, linear-progress, mask): displaying the note sections properly
  en/components/icon.md
  en/components/linear-progress.md
  en/components/mask.md
Labels: status: resolved, mask, linear-progress, icon

#3885 Size (Display Density): Reflect changes to sizing in 16.1.x
  en/components/button-group.md
  en/components/button.md
  en/components/carousel.md
  en/components/chip.md
  en/components/display-density.md
  en/components/general/how-to/how-to-customize-theme.md
  en/components/general/update-guide.md
  en/components/grid/grid.md
  en/components/grids-and-lists.md
  en/components/grids_templates/conditional-cell-styling.md
  en/components/grids_templates/display-density.md
  en/components/grids_templates/multi-column-headers.md
  en/components/grids_templates/paging.md
  en/components/grids_templates/remote-data-operations.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/list.md
  en/components/paginator.md
  en/components/toc.yml
  en/components/treegrid/groupby.md
Labels: status: pending-localization, status: verified, theme, version: 16.1.x

#3891 [JA] 16.1.x topic changes, NOTE section fixes.
  jp/components/button-group.md
  jp/components/button.md
  jp/components/carousel.md
  jp/components/chip.md
  jp/components/display-density.md
  jp/components/general/how-to/how-to-customize-theme.md
  jp/components/general/update-guide.md
  jp/components/grid/grid.md
  jp/components/grids-and-lists.md
  jp/components/grids_templates/conditional-cell-styling.md
  jp/components/grids_templates/display-density.md
  jp/components/grids_templates/multi-column-headers.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/remote-data-operations.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/icon.md
  jp/components/linear-progress.md
  jp/components/list.md
  jp/components/mask.md
  jp/components/paginator.md
  jp/components/toc.yml
  jp/components/treegrid/groupby.md
Labels: status: verified, status: localized
