Repository IgniteUI/igniteui-docfx, pull requests merged in 2023-07, with the labels that each got.

#3814 feat(stepper): igxStepSubTitle to igxStepSubtitle
  en/components/stepper.md
Labels: status: verified, stepper, 16.1.0

#3819 [Localization] Latest topic updates, SEO changes.
  jp/components/autocomplete.md
  jp/components/combo.md
  jp/components/general/wpf-to-angular-guide/angular-events.md
  jp/components/general/wpf-to-angular-guide/angular-pipes.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/general/wpf-to-angular-guide/create-ui-with-components.md
  jp/components/general/wpf-to-angular-guide/layout.md
  jp/components/general/wpf-to-angular-guide/one-way-binding.md
  jp/components/general/wpf-to-angular-guide/structural-directives.md
  jp/components/general/wpf-to-angular-guide/two-way-binding.md
  jp/components/general/wpf-to-angular-guide/wpf-to-angular-guide.md
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/column-hiding.md
  jp/components/grids_templates/excel-style-filtering.md
  jp/components/grids_templates/filtering.md
  jp/components/grids_templates/paging.md
  jp/components/grids_templates/sorting.md
  jp/components/grids_templates/summaries.md
  jp/components/list.md
  jp/components/navbar.md
  jp/components/pivotgrid/pivot-grid.md
  jp/components/query-builder.md
  jp/components/select.md
  jp/components/snackbar.md
  jp/components/stepper.md
  jp/components/tabbar.md
  jp/components/toast.md
Labels: status: verified, status: localized

#3829 fix(tree-grid, toolbar): changing frame height of the features toolbar sample
  en/components/grids_templates/toolbar.md
Labels: status: verified, tree grid, toolbar

#3822 fix(theme): change the $size parameter to the current $scrollbar-size
  en/components/themes/sass/configuration.md
Labels: status: awaiting-test, theme

#3830 fix(select): displaying the note section properly
  en/components/select.md
Labels: status: awaiting-test, select

#3832 [Localization] Adding the latest topic changes - localization, formatting.
  jp/components/drop-down-virtual.md
  jp/components/drop-down.md
  jp/components/grids_templates/cell-selection.md
  jp/components/grids_templates/toolbar.md
  jp/components/select.md
  jp/components/themes/sass/configuration.md
Labels: status: localized

#3834 fix(date-time-editor): displaying the table properly
  en/components/date-time-editor.md
Labels: status: verified, date-editor

#3839 docs(expansion-panel): display markup parts table properly
  en/components/expansion-panel.md
  jp/components/expansion-panel.md
Labels: status: verified, expansion-panel

#3842 [Localization] Updating Badge topic, other fixes.
  jp/components/badge.md
  jp/components/date-time-editor.md
Labels: status: verified, status: localized
