Repository IgniteUI/igniteui-docfx, pull requests merged in 2024-04, with the labels that each got.

#5777 Correcting links for API documentation of Slider
  en/components/slider/slider.md
Labels: status: awaiting-test, slider

#5775 fix(*): removing xplat JA topics
  jp/components/general-getting-started.md
  jp/components/general-licensing.md
Labels: status: localized

#5797 chore(*): update grid sample static image
  en/components/grid/grid.md
  jp/components/grid/grid.md
  package-lock.json
  package.json
Labels: status: resolved

#5746 docs(calendar): add calendar view sample and docs
  en/components/calendar.md
Labels: status: pending-localization, calendar, 17.2.x

#5758 docs(splitter): add collapsible splitter docs and sample
  en/components/splitter.md
Labels: status: pending-localization, status: verified, splitter, 17.2.x

#5799 Updating JA topics - Calendar, Slider, Splitter
  jp/components/calendar.md
  jp/components/grid/grid.md
  jp/components/slider/slider.md
  jp/components/splitter.md
Labels: status: localized
