Repository IgniteUI/igniteui-docfx, pull requests merged in 2024-11, with the labels that each got.

#5983 docs(carousel): update topic with new properties
  en/components/carousel.md
Labels: category-topic, status: awaiting-test, carousel

#6003 docs(summaries): enhance summaries topics with disabledSummaries examples
  en/components/grids_templates/summaries.md
Labels: status: awaiting-test, grid, tree grid, hierarchical-grid

#5987 Update JA topics to match the latest EN updates
  jp/components/date-picker.md
  jp/components/date-range-picker.md
  jp/components/date-time-editor.md
  jp/components/general/how-to/how-to-use-standalone-components.md
  jp/components/grids_templates/editing.md
  jp/components/time-picker.md
Labels: status: localized

#5993 [Localization] Updating Carousel topic - master
  jp/components/carousel.md
  jp/components/snackbar.md
  jp/components/toast.md
Labels: status: localized

#6006 docs(combo): update single selection code snippet
  en/components/combo.md
  jp/components/combo.md
Labels: category-topic, combo
