Repository IgniteUI/igniteui-docfx, pull requests merged in 2025-01, with the labels that each got.

#6004 docs(ssr): Update angular SSR topic
  en/components/general/ssr-rendering.md
Labels: status: verified

#5999 docs(chip): remove duplicated dragging section
  en/components/chip.md
  jp/components/chip.md
Labels: status: verified, chip

#6011 docs(summaries): add new disable summaries section
  en/components/grids_templates/summaries.md
Labels: status: awaiting-test, grid, tree grid, hierarchical-grid
