Repository IgniteUI/igniteui-docfx, pull requests merged in 2025-03, with the labels that each got.

#5986 chore(*): updating dependencies
  package-lock.json
  package.json
Labels: status: verified

#6071 [JA] Update Export Excel and Pivot Grid topic with the latest changes
  jp/components/grids_templates/export-excel.md
  jp/components/pivotgrid/pivot-grid.md
Labels: status: localized

#6053 docs(state-persistence): remove groupBy feature for treeGrid
  en/components/grids_templates/state-persistence.md
  jp/components/grids_templates/state-persistence.md
Labels: category-topic, status: awaiting-test, tree grid, state-persistence

#6080 docs(carousel): align configuration section with WC
  en/components/carousel.md
Labels: category-topic, status: verified, carousel

#6087 docs(query-builder): change QB overview sample
  en/components/query-builder.md
Labels: status: verified, query-builder

#6082 [JA] Update Carousel topic
  jp/components/carousel.md
Labels: status: localized

#6091 feat(*): Add Tile Manager topic
  en/components/tile-manager.md
  en/components/toc.yml
  jp/components/toc.yml
  package-lock.json
Labels: status: pending-localization, status: verified

#6072 docs(query-builder): add Query Builder Model topic
  en/components/query-builder-model.md
  en/components/toc.yml
Labels: status: awaiting-test, query-builder
