Repository IgniteUI/igniteui-docfx, pull requests merged in 2025-09, with the labels that each got.

#6189 feat(drp): update & refactor with new features
  en/components/date-range-picker.md
  en/components/toc.yml
Labels: date-range-picker, enhancement

#6203 docs(grid): JA - update advanced & excel filtering topics (vnext)
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/excel-style-filtering.md
Labels: status: localized, grid, theme

#6191 refactor(grid): update advanced & excel filtering stylings (vnext)
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/excel-style-filtering.md
Labels: status: pending-localization, status: localized, grid, theme

#6194 feat(grids): add cell merging topic
  en/components/grids_templates/cell-merging.md
  en/components/toc.yml
Labels: status: pending-localization, status: verified

#6208 fix(drp): remove duplicated popup section
  en/components/date-range-picker.md
Labels: date-range-picker

#6205 Mdd update toc azure maps
  en/components/toc.yml
Labels: status: in-review
