Repository IgniteUI/igniteui-docfx, pull requests merged in 2025-06, with the labels that each got.

#6133 docs(action-strip): update note with v20 change
  en/components/action-strip.md
Labels: status: pending-localization, action-strip, version: 20.0.x

#6125 [JA] Update licensing topic
  jp/components/general/ignite-ui-licensing.md
Labels: status: localized

#6120 feat(styling): update styling docs
  en/components/accordion.md
  en/components/action-strip.md
  en/components/avatar.md
  en/components/badge.md
  en/components/banner.md
  en/components/button-group.md
  en/components/calendar.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/circular-progress.md
  en/components/combo.md
  en/components/date-picker.md
  en/components/dialog.md
  en/components/drop-down.md
  en/components/expansion-panel.md
  en/components/icon-button.md
  en/components/input-group.md
  en/components/linear-progress.md
  en/components/list.md
  en/components/month-picker.md
  en/components/navbar.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/select.md
  en/components/slider/slider.md
  en/components/splitter.md
  en/components/stepper.md
  en/components/switch.md
  en/components/tabs.md
  en/components/time-picker.md
  en/components/toast.md
  en/components/tooltip.md
  en/components/tree.md
Labels: status: pending-localization, category-styling, status: verified

#6142 docs(button): add themes for individual button types to the styling section
  en/components/button.md
Labels: status: pending-localization, category-styling, button, theme, version: 20.0.x

#6138 [JA] Adding the latest topic updates
  jp/components/accordion.md
  jp/components/action-strip.md
  jp/components/avatar.md
  jp/components/badge.md
  jp/components/banner.md
  jp/components/button-group.md
  jp/components/button.md
  jp/components/calendar.md
  jp/components/card.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/circular-progress.md
  jp/components/combo.md
  jp/components/date-picker.md
  jp/components/dialog.md
  jp/components/drop-down.md
  jp/components/expansion-panel.md
  jp/components/grid/master-detail.md
  jp/components/icon-button.md
  jp/components/input-group.md
  jp/components/linear-progress.md
  jp/components/list.md
  jp/components/month-picker.md
  jp/components/navbar.md
  jp/components/query-builder.md
  jp/components/radio-button.md
  jp/components/select.md
  jp/components/slider/slider.md
  jp/components/splitter.md
  jp/components/stepper.md
  jp/components/switch.md
  jp/components/tabs.md
  jp/components/time-picker.md
  jp/components/toast.md
  jp/components/toc.yml
  jp/components/tooltip.md
  jp/components/tree.md
Labels: status: localized

#6145 docs(icon): add svg color limitations
  en/components/icon.md
Labels: status: pending-localization, status: verified, theme, icon

#6146 docs(icon): add svg color limitations (vnext)
  en/components/icon.md
Labels: status: pending-localization, status: verified, theme, icon
