Repository IgniteUI/igniteui-docfx, pull requests merged in 2025-04, with the labels that each got.

#6081 docs(list): update list documentation with the new "selected" property
  en/components/list.md
  en/components/themes/palettes.md
Labels: category-enhancement, status: pending-localization, list

#6093 docs(list): update list documentation with the new "selected" property (vnext)
  en/components/list.md
  en/components/themes/palettes.md
Labels: category-enhancement, status: pending-localization, list

#6094 JA - Query Builder Model topic, List topic updates
  jp/components/list.md
  jp/components/query-builder-model.md
  jp/components/themes/palettes.md
  jp/components/toc.yml
Labels: status: localized

#6092 JA - Tile Manager topic localization
  jp/components/tile-manager.md
Labels: status: localized

#6095 JA - List topic, other updates to match EN
  jp/components/charts/features/chart-data-selection.md
  jp/components/general-changelog-dv.md
  jp/components/list.md
  jp/components/menus/toolbar.md
  jp/components/query-builder.md
  jp/components/themes/palettes.md
Labels: status: localized

#6097 docs(circular-progress): update theme parameter names
  en/components/circular-progress.md
Labels: status: pending-localization, category-styling, circular-progress

#6098 docs(circular-progress): update theme parameter names (vnext)
  en/components/circular-progress.md
Labels: status: pending-localization, category-styling, circular-progress

#5974 Add note regarding persisting requirement for row selection.
  en/components/grids_templates/state-persistence.md
Labels: status: verified

#6099 Didimmova/update contrast color docs vnext
  en/components/themes/misc/angular-material-theming.md
  en/components/themes/palettes.md
Labels: status: pending-localization, status: verified, theme

#6102 [JA] Update Circular Progress topic - theme parameter names + Contrast color docs - master
  jp/components/circular-progress.md
  jp/components/themes/misc/angular-material-theming.md
  jp/components/themes/palettes.md
Labels: status: localized

#6104 feat(h-grid): update topics for advanced filtering with subqueries
  en/components/grids_templates/advanced-filtering.md
  en/components/hierarchicalgrid/load-on-demand.md
  en/components/toc.yml
Labels: status: verified, hierarchical-grid
